.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #771fc5;
}
.dob-label{
  width: 100%;
  margin:1rem;
  display: block;
  font-weight: 700;
  font-size: x-large;
  text-align: center;
}
#dob-input{
  width: 25vh;
  border-radius: 5px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: transparent;
  font-size: large;
  margin: 0.25rem 0rem;

}
.num-label{
  width: 100%;
  margin-top:1rem;
  display: block;
  font-weight: 700;
  font-size: x-large;
}
#num-input{
  width: 25vh;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: transparent;
  font-size: medium;
  margin: 0.95rem 0;
}
#checkBtn{
  cursor: pointer;
  border: 0.2rem solid #09c059;
  color: azure;
  background-color: #e64040;
  padding:0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 25px;
  margin-top: 2rem;
}


